footer      
    .lower-footer 
        background-color: black
    .go-back-button:hover  
        background-color: #CCA855
        background-color: red 


.go-back-button
    position: fixed
    bottom: 1rem
    right: 1rem
    z-index: 100
    transition: 0.5s
    border-radius: 100%
    width: 39px
    height: 39px
    display: flex 
    justify-content: center
    align-items: center
    :before 
        transition: 0.5s
.go-back-button:hover
    background-color: #CCA855
    :before 
        color: black!important

.shrappa
    background-color: #2B2A24
    display: flex 
    justify-content: center
    align-items: center
    width: 2rem 
    height: 2rem
    border-radius: 100%
.newletter 
    margin: 0 !important 
    height: 100% !important 

    
@media(max-width: 800px)
    footer 
        .upper-footer 
            flex-direction: column!important
            .up 
                display: flex
                flex-direction: row!important
                justify-content: flex-start!important
            .down 
                display: flex
                flex-direction: row!important
                justify-content: flex-end!important
                    
@media(max-width: 500px)
    footer 
        .upper-footer 
            flex-direction: column!important
            .up 
                display: flex
                flex-direction: column!important
                justify-content: space-between!important
            .down 
                display: flex
                flex-direction: column!important
                justify-content: space-between!important