footer 
    .lower-footer 
        background-color: black
    .go-back-button:hover  
        background-color: #CCA855
        

.go-back-button
    position: fixed
    bottom: 1rem
    right: 1rem 
    z-index: 100
    transition: 2s

    