header 
    margin: 0  auto 
    width: 100
    position: relative
    color: white
    img 
        z-index: -1
        position: relative
        object-fit: cover
    .welcome-message
        z-index: 1
        h1 
            font-size: 1.2em
            b 
                font-weight: bolder
        p 
            font-size: 0.5em
            font-weight: bolder


        // Text manipulations : 
