header 
    margin: 0  auto 
    width: 100
    position: relative
    color: white
    img 
        z-index: -1
        position: relative
        object-fit: cover
    .welcome-message
        z-index: 1
        h1 
            font-size: 1.2em
            b 
                font-weight: bolder
        p 
            font-size: 0.5em
            font-weight: bolder
        .below-text-buttons 
            display: flex
            gap: 2rem

            button
                color: white
                padding: 0.5rem
                font-size: 0.25em
                border: solid 3px
                border-radius: 100px
                background: none
                border-color: #CCA855
                transition: 0.25s
            button:hover 
                background-color: #CCA855
                














.video-play-button 
    position: absolute
    z-index: 10
    left: 100%
    transform: translateX(-50%) translateY(-50%)
    box-sizing: content-box
    display: block
    width: 15px
    height: 12px
    background: #CCA855
    border-radius: 50%
    padding: 9px 24px 18px 28px
    transition: 1s

.video-play-button:before 
    content: ""
    position: absolute
    z-index: 0
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)
    display: block
    width: 75px
    height: 75px
    background: #CCA855
    border-radius: 50%
    animation: pulse-border 1500ms ease-out infinite


.video-play-button:after 
    content: ""
    position: absolute
    z-index: 1
    left: 50%
    top: 50%
    transform: translateX(-50%) translateY(-50%)
    display: block
    width: 70px
    height: 70px
    background: #CCA855
    border-radius: 50%
    transition: all 200ms
    border: 4px #fff



.video-play-button span 
    display: block
    position: relative
    z-index: 3
    width: 0
    height: 0
    border-left: 18px solid #fff
    border-top: 10px solid transparent
    border-bottom: 12px solid transparent


@keyframes pulse-border 
  0% 
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1)
    opacity: 1
  
  100% 
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5)
    opacity: 0