header 
    width: 100
    img 
        z-index: -1
        position: relative
        object-fit: cover
    .welcome-message
        position: absolute
        bottom: 20rem
        left: 15rem
        z-index: 1
        // Text manipulations : 
        