#Chefs 
    img 
        width: 25rem 
        height: 25rem

@media (max-width: 1260px)
    #Chefs 
        .les-heffes
            justify-content: center
        img 
            width: 20rem 
            height: 20rem

@media (max-width: 1000px)
    #Chefs
        div:nth-child(2)
            flex-wrap: wrap  
            justify-content: start

@media (max-width: 768px)
    #Chefs
        div:nth-child(2)
            flex-direction: column
            justify-content: center
           
  