#contactUs 
    div > div > input 
        height: 2rem
        background: none
        color: white
        border-radius: 0
    div:first-child > div:nth-child(3)
        height: 6rem
    ::placeholder 
        color: #a09b86
    .message-input 
        height: 10vh
        background: none
        color: white
    .contact-info-and-form
        display: flex 
        justify-content: space-evenly
        .locations 
            .info 
                .rounded
                    display: block
                    border-radius: 50%!important 
                    background: #CCA855!important
                    width: 50px!important
                    height: 50px!important
                    transform: scale(1 , 1 )
                    transition: 1s 
                    display: flex
                    justify-content: center
                    align-items: center
                    


footer 
    .upper-footer 
        padding-bottom: 2rem

@media(max-width: 800px)
    #contactUs 
        .content 
            .contact-info-and-form
                display: flex 
                flex-direction: column
                form 
                    width: 100%!important

@media(max-width: 650px) 
    .two-inputs
        display: flex 
        flex-direction: column!important     

