#Events 
    position: relative
    .event-bg
        z-index: -1
        position: absolute
        object-fit: cover
        opacity: 0.1
    .sect-title 
        z-index: 1
        position: absolute
        bottom: 60rem
    .carousel-item
        position: absolute
        top: 20rem 
        img 
            width: 60rem
            height: 50rem