#voluptatem 
    z-index: -1
    img
        opacity: 0.15
    .voluptatem-content
        position: absolute
        z-index: 0
        .upper-corner
            padding: 2rem 
            border-left: 2rem solid
            border-top: 2rem solid 
            position: absolute 
        .lower-corner
            padding: 2rem
            border-right: 2rem solid 
            border-bottom: 2rem solid
            position: absolute
        img 
            opacity: 1
            width: 30rem 
            height: 30rem
            // to revisit later, never is not acceptable. 

