#voluptatem 
    z-index: -1
    img
        opacity: 0.15
    .voluptatem-content
        position: absolute
        z-index: 0
        transition: 5s
        .img-container
            position
            .upper-corner
                padding: 2rem 
                border-left: 1rem solid
                border-top: 1rem solid 
                position: relative 
                top: 6rem
                left: 1rem  
            .lower-corner
                padding: 2rem
                border-right: 1rem solid 
                border-bottom: 1rem solid
                position: relative
                bottom: 6rem
                right: 1rem
            img 
                border: gray solid 
                opacity: 1
                width: 40rem 
                height: 30rem
                object-fit: cover
                // to revisit later, never is not acceptable. 

