#Events 
    .event-bg
        z-index: -10
        position: relative
        object-fit: cover
        opacity: 0.1
    .sect-title 
        z-index: 1
        position: absolute
        bottom: 65rem
    .carousel-item
        position: absolute
        top: 20rem 
        overflow: hidden
        img 
            width: 60rem
            height: 50rem