#voluptatem 
    z-index: -1
    height: auto
    img
        opacity: 0.15
    .voluptatem-content
        position: absolute
        z-index: 0
        .img-container
            position: relative
            transition: 1s
            .upper-corner
                transition: 0.5s
                padding: 2rem 
                z-index: 2
                border-left: 0.3rem solid
                border-top: 0.3rem solid 
                width: 2rem
                position: absolute 
                top: 1.5rem
                left: 1.5rem 
                border-color: #CCA855
            .lower-corner
                transition: 0.5s
                padding: 2rem
                z-index: 2
                border-right: 0.3rem solid  
                border-bottom: 0.3rem solid
                width: 2rem
                position: absolute
                bottom: 1.5rem
                left: 44rem
                border-color: #CCA855
            img 
                transition: 0.5s
                border: gray solid 
                opacity: 1
                width: 50rem 
                height: 40rem
                object-fit: cover
                // to revisit later, never is not acceptable.  
        .img-container:hover 
            img 
                transform: scale(1.05 , 1.05)
            .lower-corner
                transform: translate(27px , 20px)
            .upper-corner
                transform: translate(-25px , -20px)
        .okays > p::before 
            content: "Mettre icon ici . steuplé " 
