* 
    margin: 0
body 
    height: 100vh 
    width: 100vw    
    background-color: #15120E
.sect-title
    padding-left: 5rem
    padding-top: 3rem 
    padding-bottom: 2.5rem
    h2 
        color: #CCA855
.text-volupt
    font-size: 100%
      